<h1>Bienvenu ! Veuillez confirmer votre email</h1>

<p>
    Il vous suffit de cliquer sur le lien d'activation inclus dans ce courriel pour compléter votre inscription à la communauté.
    <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon adresse email</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A très vite !
</p>
