{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <!-- MENTIONS LEGALES--------------------------------------------------------------------------->
    <main id="mentions">
        <div class="container">
            <div id="divh2">
                <h2>Mentions légales obligatoires</h2>
            </div>

            <!--CONDITIONS D'UTILISATION-->
            <h3 id="titre1">CONDITIONS D’UTILISATION &nbsp; <i class="fas fa-plus"></i></h3>

            <div id="contenu1">

                <h4>IDENTIFICATION DU SITE</h4>

                <p><span> Les informations suivantes sont fournies en vertu de l’Article 6 de LOI n° 2004-575 du 21 juin 2004 pour la <strong>Confiance dans l’Economie Numérique</strong> (<a href="http://www.legifrance.gouv.fr/WAspad/UnTexteDeJorf?numjo=ECOX0200175L">LOI n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique</a>)</span></p>

                <br>

                <p><span> <strong>Le site Internet www.paniers-paris.fr est édité par :</strong></span></p>

                <br>

                <p><span>Paniers-Paris</span> </p>

                <br>

                <p><span>SARL au capital social de 3 300 000 €</span></p>

                <br>

                <p><span>SIRET: 851 893 677 000 01</span></p>

                <br>

                <p><span>RCS (Paris : 851 893 677)</span> </p>

                <br>

                <p><span> TVA : FR24 851 893 677</span></p>

                <br>

                <p><span>Adresse : 63 rue de la Verrerie, 75004 Paris</span></p>

                <br>

                <p><span>Téléphone : +33 1 22 33  44</span></p>

                <br>

                <p><span> Télécopie : +33 1 22 33 44 55</span></p>

                <br>

                <p><span> contact : <a href="mailto:ppcontact@paniers-paris.com">ppcontact@paniers-paris.com</a></span></p>

                <br>

                <p><span> <strong>Ci-après dénommé &laquo;l’Editeur du Site&raquo; :</strong></span></p>

                <br>

                <p><span>(L’Editeur du Site est propriétaire et exploitant du site www.paniers-paris.fr)</span></p>

                <br>

                <p><span><strong>Le site Internet www.paniers-paris.fr est hébergé par :</strong></span> </p>

                <br>

                <p><span> <strong>ci-après dénommé &laquo;l’Hébergeur&raquo; :</strong></span></p>

                <br>

                <p> <span> 000webhost by Hostinger (<a href="https://www.000webhost.com/?utm_source=000&utm_medium=40x&utm_campaign=pages">000webhost by Hostinger</a>)
                        </span> </p>


                <h4>ACCEPTATION DES CONDITIONS INHÉRENTES À L’UTILISATION</h4>

                <p><span>L’Editeur du Site détient et exploite ce site web.
                            <br>
                            Son utilisation implique que vous acceptez l’ensemble des termes, conditions et notifications contenus et cités dans ce document (les &laquo;conditions d’utilisation&raquo;).
                            <br>
                            Ces conditions générales d’utilisation ne s’appliquent qu’au site web et aux services de ce Site, et à aucun site tiers.
                            <br>
                            Si vous n’acceptez pas ces conditions d’utilisation, veuillez ne pas utiliser ce site. </span></p>

                <br>

                <p><span>Nous nous réservons le droit, à notre discrétion, de mettre à jour ou de modifier les conditions d’utilisation.
                            <br>
                            Par conséquent, veuillez vérifier régulièrement ces dernières afin de savoir si elles ont été modifiées.
                            <br>
                            Nous considérons que vous acceptez une modification des conditions d’utilisation si vous continuez à utiliser le site après publication de cette modification.</span></p>

                <h4>DROITS DE PROPRIÉTÉ</h4>

                <p><span>Vous reconnaissez et acceptez que l’ensemble du contenu et des éléments disponibles sur ce site – en particulier, mais de façon non limitative, les cartes, les programmes et logiciels, les bases de données, le texte, les photos, les films, les sons, la musique, la présentation et les logos – sont protégés par des copyrights, droits de protection de base de données, marques déposées, marques de service, brevets, secrets industriels ou autres droits et lois sur la propriété.</span></p>

                <br>

                <p><span>Le contenu et les éléments disponibles sont, soit exclusivement détenus et contrôlés par l’Editeur du Site, soit utilisés sous licence.
                    <br>
                    Ces conditions d’utilisation s’appliquent à tout le contenu et à tous les éléments disponibles sur le site.</span></p>

                <br>

                <p><span>De plus, lorsque vous utilisez un contenu et des éléments sous licence d’un tiers, il est possible que vous soyez lié par les contrats de licence de ce dernier.</span> </p>

                <br>

                <p><span>Lorsque vous recevez des informations provenant d’un tiers, l’identité de celui-ci vous est indiquée par un logo ou par une autre indication.</span></p>


                <h4>CONCESSION DE LICENCE LIMITÉE</h4>

                <p><span>Le contenu et les éléments disponibles sur ce site peuvent contenir d’autres avis de propriété ou décrire des produits, services, processus ou technologies appartenant  à des tiers.</span></p>

                <br>

                <p><span>Aucune partie du présent document ne doit être considérée comme constituant une licence accordée à l’utilisateur sur un copyright, une marque, un brevet ou tout autre droit de propriété intellectuelle détenu par une tierce partie, à l’exception du droit d’utilisation limité qui est expressément défini ci-dessous:</span></p>

                <br>

                <p><span>Dans le cadre d’une licence non exclusive et non transférable, vous êtes autorisé à imprimer ou à télécharger un exemplaire des éléments ou du contenu de ce site vers un seul ordinateur individuel pour votre utilisation personnelle et non commerciale, à condition que vous gardiez intacts tous les avis de copyright et de propriété.</span></p>

                <br>

                <p> <span>Vous pouvez utiliser le site à des fins légales et pour votre utilisation personnelle, mais en aucun cas dans un but lucratif ou commercial.
                        <br>
                        Si vous souhaitez des éléments d’information pour rédiger un article sur le site, un dossier presse est disponible à votre demande, seules les photos contenues dans ce dossier presse peuvent être publiées.</span></p>

                <br>

                <p><span>Vous vous engagez à ne jamais vendre, céder sous licence, louer, distribuer, transmettre, copier, reproduire, présenter publiquement, exécuter publiquement, publier, adapter, éditer, modifier, décompiler , désassembler ce contenu ou ces éléments, et à ne jamais reconstituer la logique du programme, ni créer d’ouvre dérivée à partir de ce contenu ou de ces éléments.</span></p>

                <br>

                <p><span>Vous vous engagez à ne jamais utiliser le contenu ou les éléments disponibles sur le site dans un quelconque but commercial.</span></p>

                <br>

                <p><span>La récupération systématique de données ou autre depuis ce site pour créer ou établir, directement ou indirectement, une collection, une compilation, une base de données ou un répertoire sans l’autorisation écrite de l’Editeur du Site est interdite.</span></p>

                <br>

                <p><span>En outre, l’utilisation du contenu ou des éléments à toute fin non expressément autorisée dans ces conditions d’utilisation est interdite.</span></p>

                <br>

                <p> <span> Vous ne jouissez d’aucun droit de propriété sur le contenu, les éléments et leurs dérivés, et l’Editeur du Site est le seul détenteur de tels droits.</span></p>

                <br>

                <p><span><strong>Le non-respect de l’une des clauses de ces conditions d’utilisation mettra fin à cette licence automatiquement et sans préavis de la part de l’Editeur du Site.</strong>
                        </span></p>


                <h4>UTILISATION DU SITE WEB</h4>

                <p> Vous n’êtes pas autorisé à utiliser le site ou ses services à des fins illégales telles que la publication, la distribution ou la diffusion d’un élément ou d’une information illégale, et en particulier:</p>
                <br>

                <ul>
                    <li>toutes données privatives appartenant à un tiers, notamment les marques déposées et données protégées par copyright (autres que celles pour lesquelles vous possédez une licence);</li>

                    <li>tout contenu erroné, diffamatoire, obscène, raciste ou insistant à la haine;</li>

                    <li>tout contenu visant à harceler un tiers ou à compromettre sa vie privée;</li>

                    <li>tout contenu incitant au crime, au suicide ou à la discrimination, à la haine ou à la violence pour des motifs de différence raciale, ethnique ou de nationalité;</li>

                    <li>tout contenu susceptible de nuire à des utilisateurs mineurs ou de porter atteinte à la dignité humaine;</li>

                    <li>tout contenu faisant l’éloge du nazisme ou niant l’holocauste.</li>

                </ul>

                <br>
                <p>En outre, vous ne devez pas utiliser le site dans le but de recueillir des informations personnelles, notamment des adresses Internet, concernant d’autres utilisateurs du site.</p>


                <h4>EXCLUSION DE GARANTIE</h4>

                <p><span>Tout contenu est propre au site www.paniers-paris.fr.
                        <br>
                        Ce site peut contenir des inexactitudes techniques ou des erreurs typographiques.
                        <br>
                        l’Editeur du Site se réserve le droit de modifier ou de supprimer toute information ou contenu apparaissant sur ce site sans avis préalable.</span></p>

                <br>

                <p><span>Ni l’Editeur du Site ni ses fournisseurs de contenu, ni la société prestataire des services Internet permettant de faire fonctionner cette application web, n’offrent de garantie quant à leur contenu.
                        <br>
                        L’utilisateur assume tous les risques d’utilisation.
                        <br>
                        Aucune responsabilité n’incombe à la l’Editeur du Site, à ses fournisseurs, ou ses prestataires de services, quand à l’utilisation des éléments d’information contenus dans ce site Web.</span></p>

                <br>

                <p><span><strong>LE CONTENU ET LES ÉLÉMENTS FOURNIS SUR CE SITE LE SONT SANS AUCUNE GARANTIE, IMPLICITE OU EXPLICITE.</strong></span></p>

                <br>

                <p><span><b>AUCUN AVIS NI AUCUNE INFORMATION FOURNIS PAR L’ÉDITEUR DU SITE OU L’HÉBERGEUR, LEURS SOCIÉTÉS MÈRES OU AFFILIÉES OU LEURS EMPLOYÉS RESPECTIFS NE PEUT CRÉER DE GARANTIE.<b>
                        </span></p>

                <br>

                <p><span><b>NI L’ÉDITEUR DU SITE, NI L’HÉBERGEUR, NI LEURS SOCIÉTÉS MÈRES OU AFFILIÉES NE GARANTISSENT LA PRÉCISION, LA FIABILITÉ ET L’EXACTITUDE DU CONTENU ET DES ÉLÉMENTS DU SITE;
                        NI LA DISPONIBILITÉ DU SITE EN TOUT LIEU ET À TOUT MOMENT; NI L’ABSENCE DE VIRUS OU D’AUTRE ÉLÉMENT NUISIBLE DANS LE CONTENU, LES INFORMATIONS ET LES LOGICIELS, ET DANS TOUT ÉLÉMENT ACCESSIBLE À PARTIR DU SITE.</b></span></p>

                <h4>LIMITATION DE RESPONSABILITÉ</h4> 

                <p><b>L’ÉDITEUR DU SITE, L’HÉBERGEUR, LEURS SOCIÉTÉS MÈRES OU AFFILIÉES, PARTENAIRES, FILIALES OU CONCÉDANTS DE LICENCE NE SONT EN AUCUN CAS RESPONSABLES DE DOMMAGES DIRECTS OU INDIRECTS – Y COMPRIS, MAIS DE FAÇON NON LIMITATIVE,DE LA PERTE DE BÉNÉFICE, DE CLIENTÈLE OU DE DONNÉES – DUS À L’UTILISATION OU À L’INCAPACITÉ D’UTILISER LE SITE OU LE CONTENU ET LES ÉLÉMENTS AUXQUELS CELUI-CI PERMET D’ACCÉDER.
                        CETTE LIMITATION S’APPLIQUE, EN MATIÈRE DÉLICTUELLE COMME CONTRACTUELLE, MÊME SI L’ÉDITEUR DU SITE, OU L’HÉBERGEUR N’ONT ÉTÉ INFORMÉ DE LA POSSIBILITÉ D’UN TEL DOMMAGE.</b>    </p>

                <h4>INDEMNISATION</h4> 
                <p><span>A sa demande, vous vous engagez à indemniser l’Editeur du Site, ses sociétés mères ou affiliées, partenaires, filiales ou concédants de licence ainsi que leurs employés, contractants, agents et dirigeants,en cas de mise en cause de leur responsabilité, ainsi que de réclamations et frais (dont honoraires d’avocat) découlant de votre utilisation ou de vos erreurs dans l’utilisation du site.
                        <br>
                        Dans la mesure du possible, vous acceptez de coopérer avec l’Editeur du Site pour sa défense dans le cadre de toute affaire dans laquelle vous devriez offrir une indemnisation.
                        </span></p>

                <h4>SITES TIERS</h4> 

                <p><span>Aucune référence à des produits, services, processus, liens hypertexte de tiers ou autre information par citation d’un nom de marque, d’une marque déposée, d’un fabricant, d’un fournisseur ou autre ne constitue ni ne sous-entend une approbation, caution ou recommandation de la part de l’Editeur du Site, de ses sociétés mères ou affiliées, partenaires, filiales ou concédants de licence.
                        </span></p>

                <br>

                <p><span>De plus, le site peut vous mettre en relation avec d’autres sites Internet par le biais notamment de recherches automatiques, mais ces sites ne sont pas sous le contrôle de l’Editeur du Site.</span></p>

                <br>

                <p><span>Vous reconnaissez que l’Editeur du Site n’est pas responsable de l’exactitude, du respect de copyright, de la légalité, de la décence ou de tout autre aspect des sites tiers.
                        </span></p>

                <br>

                <p><span><strong>Tout lien hypertexte provenant d’un site tiers et aboutissant sur ce site nécessite l’accord préalable de l’Editeur du Site, et en particulier les liens vers une page autre que la page d’accueil.
                        <br>
                        La demande d’un tel accord peut être faite en adressant un courrier à l’aide du formulaire de contact disponible sur ce site.</strong></span></p>

                <h4>PROCÉDURE DE RÉCLAMATION POUR CONTREFAÇON</h4>

                <p>Si vous pensez que votre travail a été copié et qu’il est accessible sur ce site d’une manière constituant une contrefaçon, vous pouvez en informer l’Editeur du Site par l’intermédiaire du formulaire de contact mis à disposition sur ce site.</p>

                <h4>LOI APPLICABLE ET TRIBUNAL COMPÉTENT</h4>
                <p>Ces conditions d’utilisation seront régies et interprétées par les lois Françaises.
                    <br>
                    Les contrats de licence régissant votre utilisation d’éléments tiers sur le site peuvent contenir des dispositions exigeant l’intervention de tribunaux étrangers pour la résolution de litiges liés à ces contrats.
                    <br>
                    Lorsque vous recevez des informations provenant d’un tiers, un logo ou une autre indication apparaît pour vous permettre d’identifier celui-ci.
                </p>

                <h4>DIVISIBILITÉ ET INTÉGRALITÉ</h4>
                <p>Sauf mention contraire dans le présent document, cet accord constitue la totalité du contrat passé entre vous et l’Editeur du Site en ce qui concerne le site, et il annule et remplace toutes les communications et propositions antérieures ou simultanées (qu’elles soient orales, écrites ou électroniques) relatives à ce site entre vous et l’Editeur du Site, ses sociétés mères ou affiliées ou concédants de licence.</p>

                <br>

                <p>Si une partie de ces conditions d’utilisation était considérée comme invalide ou inapplicable, elle devrait être interprétée selon la loi en vigueur de manière à identifier au mieux les intentions initiales des parties, et le reste des présentes des conditions demeurera en vigueur.</p>

                <h4>RÉSILIATION</h4>
                <p>L’Editeur du Site se réserve le droit, à sa seule discrétion, de mettre fin à votre accès à la totalité ou à une partie de ce site, avec ou sans préavis.</p>

                <h4>EXPORTATION</h4>
                <p>Vous vous engagez à ne jamais exporter vers quelque destination que ce soit toute partie du contenu ou des éléments qui vous sont fournis, ou tout produit directement obtenu par ce contenu ou ces éléments, sauf si cela est en conformité avec les lois, règlements et règles en vigueur en matière d’exportation.</p>

                <h4>AVIS DE COPYRIGHT ET DE MARQUES DÉPOSÉES</h4>
                <p> <span> <strong>www.Paniers-Paris.fr. Tous droits réservés.</strong></span></p>

                <br>

                <p><span>La reproduction de tout élément du présent site ou de tout autre contenu se trouvant sur le site web autre que ceux expressément envisagés dans le présent document est strictement interdite.
                        <br>
                        L’utilisation de tous les documents et graphiques associés ainsi que de tout autre élément fourni sur ce site web est soumise aux conditions d’utilisation figurant ci-dessus.
                        </span></p>

                <h4>Marques déposées</h4>
                <p>Le nom &laquo; www.Paniers-Paris.fr &raquo;, son logo, ainsi que tous les noms de produits et de services, dessins marques et slogans s’y rapportant sont des marques déposées, marques de service ou marques de commerce déposées de l’Editeur du Site, et ils ne peuvent pas être utilisés à des fins commerciales sans sont consentement écrit préalable.
                    <br>
                    Toutes les autres marques de produits et de services de ce site sont des marques déposées de leurs propriétaires respectifs.
                </p>

                <h4>Autres avis de copyright</h4>
                <p>Les autres avis de copyright concernent les données provenant de tiers utilisées pour créer ce service Internet.
                </p>

                <h4>CONTACT</h4>
                <p>Pour obtenir davantage d’informations relatives aux questions juridiques contenues dans ces conditions d’utilisation, ou à des questions ou problèmes concernant ce service, veuillez écrire à <a href="mailto:ppcontact@paniers-paris.com">ppcontact@paniers-paris.com</a>.
                </p>

            </div>

            <!--CONDITIONS GÉNÉRALES DE VENTE-->
            <h3 id="titre2">CONDITIONS GÉNÉRALES DE VENTE &nbsp; <i class="fas fa-plus"></i></h3>

            <div id="contenu2">
                <p>Les présentes conditions de vente sont conclues d’une part :</p>
                <br>

                <ul>
                    <li>par la société Paniers-Paris au capital social de 3 300 000 €  dont le siège social est situé au 63 rue de la Verrerie, 75004 Paris, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 851 893 677 ci-après dénommée &laquo; Paniers-Paris &raquo; et gérant le site www.paniers-paris.fr,</li>
                    <li>d’autre part, par toute personne physique ou morale souhaitant procéder à un achat via le site internet www.paniers-paris.fr dénommée ci-après &laquo; l’acheteur &raquo;.</li>
                </ul>

                <h4>Article 1: Objet</h4>
                <p><span> Les présentes conditions de vente visent à définir les relations contractuelles entre Paniers-Paris et l’acheteur et les conditions applicables à tout achat effectué par le biais du site internet www.paniers-paris.fr.</span> </p>

                <br>

                <p><span>L’acquisition d’un produit à travers le présent site implique une acceptation sans réserve par l’acheteur des présentes conditions de vente dont l’acheteur reconnaît avoir pris connaissance préalablement à sa commande.</span></p>

                <br>

                <p><span>Avant toute transaction, l’acheteur déclare d’une part que l’achat de produits sur le site www.paniers-paris.fr est sans rapport direct avec son activité professionnelle et est limité à une utilisation strictement personnelle et d’autre part avoir la pleine capacité juridique, lui permettant de s’engager au titre des présentes conditions générales de ventes.</span></p>

                <br>

                <p><span>La société Paniers-Paris conserve la possibilité de modifier à tout moment ces conditions de ventes, afin de respecter toute nouvelle réglementation ou dans le but d'améliorer l’utilisation de son site.
                        <br>
                        De ce fait, les conditions applicables seront celles en vigueur à la date de la commande par l’acheteur.</span></p>

                <h4>Article 2: Produits</h4>
                <p><span>Les produits proposés sont ceux qui figurent sur le site www.paniers-paris.fr de la société Paniers-Paris dans la limite des stocks disponibles.
                        <br>
                        La société Paniers-Paris se réserve le droit de modifier à tout moment l’assortiment de produits. </span></p>

                <br>
                <p><span>Chaque produit est présenté sur le site internet sous forme d’un descriptif reprenant ses principales caractéristiques techniques (intitulés, compositions, poids, quantité, recommandations par personnes sur une durée estimée).
                        <br>
                        Les photographies sont les plus fidèles possibles mais n’engagent en rien le Vendeur.
                        </span></p>

                <br>

                <p><span> La vente des produits présentés dans le site www.paniers-paris.fr est destinée à tous les acheteurs résidants dans les pays qui autorisent pleinement l’entrée sur leur territoire de ces produits.</span></p>

                <h4>Article 3: Tarifs</h4>
                <p><span>Les prix figurant sur les fiches produits du catalogue internet et sont des prix en Euros (€) toutes taxes comprises (TTC) tenant compte de la TVA applicable au jour de la commande.
                        <br>
                        Tout changement du taux de la TVA pourra être répercuté sur le prix des produits.
                        </span></p>

                <br>

                <p><span>La société Paniers-Paris se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l’acheteur.</span>
                </p>

                <br>

                <p><span>Après achat, l’acheteur ne sera pas soumis à des frais supplémentaires lors de la récupération de sa commande en point-collecte.</span></p>

                <h4>Article 4: Commande et modalités de paiement</h4>
                <p><span>Avant toute commande, l’acheteur doit créer un compte sur le site www.paniers-paris.fr.
                        <br>
                        La rubrique de création de compte est accessible directement depuis la barre de navigation supérieure.
                        <br>
                        A chaque visite, l’acheteur, s’il souhaite commander ou consulter son compte (état des commandes, profil…), devra s’identifier à l’aide de ces informations.
                        <br>
                        La société Paniers-Paris propose à l’acheteur de commander et régler ses produits en plusieurs étapes, avec 2 options de paiement au choix :</span></p>

                <br>

                <p><span><b>Paiement par virement bancaire</b>:</span></p>

                <br>

                <p><span> l’acheteur sélectionne les produits qu’il souhaite commander dans le &laquo; panier &raquo;, modifie si besoin (quantités, références…), vérifie l’adresse de livraison ou en renseigne une nouvelle.
                        <br>
                        Ensuite, l’acheteur choisit le mode de paiement de son choix : &laquo; Paiement par virement &raquo;.
                        <br>
                        Enfin, la dernière étape lui propose de vérifier l’ensemble des informations, prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante, puis l’invite à valider sa commande en cliquant sur le bouton &laquo; Confirmer ma commande &raquo;.
                        <br>
                        Ce dernier clic forme la conclusion définitive du contrat.
                        <br>
                        Dès validation, l’acheteur reçoit un bon de commande confirmant l’enregistrement de sa commande.
                        <br>
                        Afin de finaliser son paiement et déclencher le traitement de sa commande, l’acheteur doit contacter sa banque afin d'effectuer le virement correspondant au montant de sa commande vers le compte bancaire de Paniers-Paris, dont les coordonnées sont communiquées à l'acheteur.
                        <br>
                        Dès réception du virement, la commande sera traitée et l’acheteur en sera informé par e-mail.
                        <br>
                        La société Paniers-Paris réceptionnera les produits au plus tôt 4 jours ouvrés après réception du virement correspondant à la commande, sous réserve de provisions.
                        </span></p>

                <br>

                <p><span><b>Paiement sécurisé par Paypal ou carte bancaire (via le système PAYPAL)</b>:</span>
                </p>

                <br>

                <p><span>l’acheteur sélectionne les produits qu’il souhaite commander dans le &laquo; panier &raquo;, modifie si besoin (quantités, références…), vérifie l’adresse de livraison ou en renseigne une nouvelle.
                        <br>
                        Puis, les frais de port sont calculés et soumis à l’acheteur, ainsi que le nom du transporteur.
                        <br>
                        Ensuite, l’acheteur choisit le mode de paiement de son choix : &laquo; Paiement par Paypal &raquo;.
                        <br>
                        L’étape suivante lui propose de vérifier l’ensemble des informations, prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante, puis l’invite à valider sa commande en cliquant sur le bouton &laquo; Confirmer ma commande &raquo;.
                        <br>
                        Enfin, l’acheteur est redirigé sur l’interface sécurisée PAYPAL afin de renseigner en toute sécurité ses références de compte Paypal ou de carte bleue personnelle. Si le paiement est accepté, la commande est enregistrée et le contrat définitivement formé. Le paiement par compte Paypal ou par carte bancaire est irrévocable.
                        <br>
                        En cas d’utilisation frauduleuse de celle-ci, l’acheteur pourra exiger l’annulation du paiement par carte, les sommes versées seront alors recréditées ou restituées.
                        <br>
                        La responsabilité du titulaire d’une carte bancaire n’est pas engagée si le paiement contesté a été prouvé effectué frauduleusement, à distance, sans utilisation physique de sa carte.
                        <br>
                        Pour obtenir le remboursement du débit frauduleux et des éventuels frais bancaires que l’opération a pu engendrer, le porteur de la carte doit contester, par écrit, le prélèvement auprès de sa banque, dans les 70 jours suivant l’opération, voire 120 jours si le contrat le liant à celle-ci le prévoit.
                        <br>
                        Les montants prélevés sont remboursés par la banque dans un délai maximum d’un mois après réception de la contestation écrite formée par le porteur.
                        <br>
                        Aucun frais de restitution des sommes ne pourra être mis à la charge du titulaire.
                        </span> </p>

                <br>

                <p><span>La confirmation d’une commande entraîne acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite connaissance et la renonciation à se prévaloir de ses propres conditions d’achat.
                        <br>
                        L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la tSi l’acheteur possède une adresse électronique et s’il l’a renseignée sur son bon de commande, la société Paniers-Paris lui communiquera par courrier électronique la confirmation de l’enregistrement de sa commande.</span></p>


                <br>

                <p><span>Si l’acheteur souhaite contacter la société Paniers-Paris, il peut le faire :
                        </span></p>

                <br>

                <ul>
                    <li>soit par courrier à l’adresse suivante : 63 rue de la Verrerie, 75004 Paris ;</li>
                    <li>soit par email à l’adresse suivante : <a href="mailto:ppcontact@paniers-paris.com">ppcontact@paniers-paris.com</a> ;</li>
                    <li>soit par téléphone au numéro suivant :  +33 1 22 33 44.</li>
                </ul>

                <h4>Article 5: Réserve de propriété</h4>
                <p><span>La société Paniers-Paris conserve la propriété pleine et entière des produits vendus jusqu'au parfait encaissement du prix, en principal, frais et taxes compris.</span></p>

                <h4>Article 6: Rétractation</h4>
                <p><span>Les réceptions sont faites à l’adresse indiquée sur le bon de commande qui ne peut être que dans la zone géographique convenue.
                        <br>
                        Les délais d’acheminement des commandes ne sont donnés qu’à titre indicatif ; si ceux-ci dépassent six jours à compter de la commande, le contrat de vente pourra être résilié et l’acheteur remboursé.
                        <br>
                        La société Paniers-Paris pourra fournir par e-mail à l’acheteur le justificatif de remboursement.</span></p>

                <br>

                <p><span> L’acheteur est invité à venir récupérer sa commande au point de collecte indiqué sur email de confirmation de commande.
                        <br>
                        En cas d’absence de l’acheteur, sa commande sera mise de côté pendant trois jours à compter de la réception avant d’être débarassée.</span></p>

                <br>

                <p><span>L’acheteur est tenu de vérifier en présence du préposé de Paniers-Paris l’état de sa commande et indiquer tout problème ayant pu résulter des conditions de livraison.
                        <br>
                        En cas de dommage constatés, l’acheteur dispose d’un délai de trois jours à compter de la réception pour faire un signalement.</span></p>

                <h4>Article 7: Réception</h4>
                <p><span>En vertu de l’article L121-20 du Code de la consommation, l’acheteur dispose d'un délai de quatorze jours ouvrables à compter de la réception de leur commande pour exercer son droit de rétractation et ainsi faire retour du produit au vendeur pour échange ou remboursement sans pénalité. </span> </p>

                <h4>Article 8: Garantie</h4>
                <p><span>Tous les produits fournis par la société Paniers-Paris bénéficient de la garantie légale prévue par les articles 1641 et suivants du Code civil.
                        <br>
                        En cas de non conformité d’un produit vendu, il pourra être retourné à la société Paniers-Paris qui le reprendra, l’échangera ou le remboursera.
                        <br>
                        Toutes les réclamations, demandes d’échange ou de remboursement doivent s’effectuer par e-mail à l’adresse suivante : ppcontact@paniers-paris.com, dans un délai de trois jours après réception.</span></p>

                <h4>Article 9: Responsabilité</h4>
                <p> <span>La société Paniers-Paris dans le processus de vente à distance, n’est tenue que par une obligation de moyens.
                        <br>
                        Sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.</span></p>

                <h4>Article 10: Propriété intellectuelle</h4>
                <p><span>Tous les éléments du site Paniers-Paris sont et restent la propriété intellectuelle et exclusive de la société Paniers-Paris.
                        <br>
                        Personne n’est autorisé à reproduire, exploiter, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient sous forme de photo, logo, visuel ou texte.</span></p>

                <h4>Article 11: Règlement des litiges</h4>
                <p><span>Les présentes conditions de vente à distance sont soumises à la loi française. Pour tous litiges ou contentieux, le Tribunal compétent sera le suivant :</span></p>

                <br>

                <p><span>
                        Tribunal de commerce de Paris
                        <br>
                        1, quai de la Corse
                        <br>
                        75198 Paris Cedex 04.
                        </span>
                </p>

            </div>


            <!--POLITIQUE DE CONFIDENTIALITÉ-->
            <h3 id="titre3">POLITIQUE DE CONFIDENTIALITÉ &nbsp; <i class="fas fa-plus"></i></h3> 

            <div id="contenu3">
                <p>
                            <span>
                            L’Editeur du site a pour principe de protéger la vie privée de ses utilisateurs.
                            <br>
                            Vous disposez en pied de page de chaque page du site d’un lien vers la politique de confidentialité (accessible depuis "Mentions légales") mis en place par l’Editeur du site. Veuillez la consulter.
                            </span>
                </p>

                <h4>CONCESSION PAR L'UTILISATEUR D'UNE LICENCE LIMITÉE A L'ÉDITEUR DU SITE</h4>
                <p>En publiant, soumettant ou transmettant de toute autre manière des informations, un contenu ou des éléments vers ce site, y compris, mais de façon non limitative, des feedbacks (retour d’informations), données, réponses, questions, commentaires, suggestions, projets, idées, etc.,</p>

                <ol>
                    <li>sauf cas prévu par la loi, vous autorisez l’Editeur du Site, ses sociétés mères et affiliées, partenaires, filiales et titulaires de licence, à utiliser, reproduire, afficher, exécuter, adapter, modifier, distribuer, faire distribuer et promouvoir les informations, le contenu ou les éléments sous quelque forme que ce soit, en quelque lieu que ce soit et pour quelque but commercial ou non que ce soit, sans émettre de restriction ni attendre de compensation, et</li>
                    <li>vous garantissez et déclarez que vous possédez, ou contrôlez d’une autre manière, tous les droits liés au contenu et que la diffusion publique et l’utilisation de votre contenu par l’Editeur du Site n’affectera et n’enfreindra pas les droits d’un tiers.</li>
                </ol>


                <h4>CONSENTEMENT DE L’UTILISATEUR RELATIF A LA VÉRIFICATION ET LA DIVULGATION</h4>
                <p>
                            <span>
                            L’Editeur du Site n’a pas d’obligation de vérification des informations résidant sur son site ou transmises à celui-ci.
                            <br>
                            Cependant, toute personne utilisant le site accepte que l’Editeur du Site vérifie périodiquement le contenu de celui-ci,
                            </span>
                </p>
                <span>
                                <br>
                            </span>
                <p>
                            <span>
                            (1) pour se conformer à une loi, à un règlement ou à une demande des autorités;
                            </span>
                </p>
                <span>
                                <br>
                            </span>
                <p>
                            <span>
                            (2) pour faire fonctionner le site correctement ou pour se protéger et protéger ses utilisateurs; ou
                            </span>
                </p>
                <span>
                                <br>
                            </span>
                <p>
                            <span>
                            (3) pour toute autre raison, à sa seule discrétion.
                            </span>
                </p>
                <span>
                                <br>
                            </span>
                <p>
                            <span>
                            L’Editeur du Site se réserve le droit de modifier, de refuser ou de supprimer toute information résidant sur le site ou transmise à celui-ci si l’Editeur du Site considère, à sa seule discrétion, que cette information est inacceptable ou en infraction avec les présentes conditions d’utilisation.
                            </span>
                </p>
                <span>
                                <br>
                            </span>
                <p>
                            <span>
                            Sauf cas prévu par la loi, si un utilisateur des données de ce site fournit à ce Site des informations, y compris, mais de façon non limitative, des données, réponses, questions, commentaires, suggestions, projets, idées, etc., ces informations seront considérées comme non confidentielles et l’Editeur du Site ne s’engage pas à les protéger de la divulgation.
                            </span>
                </p>

                <h4>COLLECTE DES DONNÉES UTILISATEUR ET RESPECT DE LA VIE PRIVÉE</h4>
                <p>
                                <span>
                                Paniers-Paris s’engage à assurer la protection de vos données à caractère personnel.
                                <br>
                                Dans le cadre de ses activités, Paniers-Paris met à disposition de ses clients un service de e-commerce accessible depuis le site www.paniers-paris.fr.
                                </span>
                </p>
                <p>
                                <span>
                                <br>
                                Paniers-Paris collecte des données à caractère personnel sur les individus.
                                <br>
                                La collecte de données s’effectue sur le site internet.
                                <br>
                                Cette rubrique a pour objet de vous dispenser une information complète sur l’usage qui est opéré par Paniers-Paris des données à caractère personnel de ses clients.
                                <br>
                                </span>
                </p>
                <span>
                                    <br>
                                </span>
                <p>
                                <span>
                                Paniers-Paris, en tant que Responsable de traitement, s’engage à respecter les dispositions du règlement (UE) n°2016/679 du 27 avril 2016 relatif à la protection des données à caractère personnel.
                                </span>
                </p>
                <span>
                                    <br>
                                </span>
                <p>
                                <span>
                                Dans les formulaires de collecte de données à caractère personnel sur le site, le Client est notamment informé du caractère obligatoire ou non de la collecte de données.
                                </span>
                </p>
                <span>
                                    <br>
                                </span>
                <p>
                                <span>
                                En cas de non fourniture d’un champ de données obligatoire, Paniers-Paris ne pourra accomplir ses prestations.
                                </span>
                </p>

                <span>
                                    <br>
                                </span>

                <ol>

                    <li>
                        <b> QUI COLLECTE LES DONNÉES À CARACTERE PERSONNEL ?</b>
                        <p>
                            Paniers-Paris marque au capital social de 3 300 000 €
                            <br>
                            SIRET : 851 893 677 000 01 enregistré au registre du commerce de Paris dont le siège est :
                        </p>
                        <p>
                            Greffe du tribunal de commerce de Paris
                            <br>
                            1, quai de la Corse
                            <br>
                            75198 Paris Cedex 04.
                            </span>
                        </p>
                    </li>

                    <li>
                        <b>QUELLES SONT LES FINALITÉS DE LA COLLECTE DE VOS DONNÉES PERSONNELLES ?</b>
                        <p>Paniers-Paris n’est autorisé à utiliser les données personnelles de ses utilisateurs que dans les cas suivants :</p>

                        <ul>
                            <li>traiter et exécuter une commande de paniers ou pour ouvrir et gérer un compte,</li>

                            <li>exécuter une obligation légale (ex : conservation de factures),</li>

                            <li>protéger l’intérêt légitime de Paniers-Paris (prévention de la fraude, marketing direct..),</li>

                            <li>lorsque l’utilisateur a donné son consentement.</li>
                        </ul>


                        <p>La société collecte et enregistre des données à caractère personnel dans les cas suivants :
                        </p> 

                        <ul>
                            <li>Gestion du compte client, du panier et des commandes pour pouvoir exécuter le contrat passé entre le client et Paniers-Paris,</li>

                            <li>Gestion des paiements pour exécuter le contrat passé entre le client et Paniers-Paris,</li>

                            <li>Gestion de la livraison pour exécuter le contrat passé entre le client et Paniers-Paris,</li>

                            <li>Gestion de la relation client pour exécuter le contrat passé entre le client et Paniers-Paris,</li>

                            <li>Recueil des avis clients pour améliorer le service de Paniers-Paris,</li>

                            <li> Gestion des impayés pour préserver l’intérêt du Paniers-Paris,</li>

                            <li>Analyse de la clientèle pour améliorer le service du Paniers-Paris,</li>

                            <li>Envoi d’offres commerciales par mail, sms, réseaux sociaux ou site internet après consentement du client,</li>

                            <li>Mise en place de jeux concours,</li>

                            <li>Partage d’informations avec les points relais pour exécuter le contrat passé entre le client et Paniers-Paris.</li>
                        </ul>


                        <p>Pour les traitements nécessitant le recueil du consentement, la personne concernée à la faculté de retirer son consentement en effectuant une demande à <a href="mailto:ppcontact@paniers-paris.com">ppcontact@paniers-paris.com</a>
                        </p>

                    </li>

                    <li>
                        <b>A QUI VOS DONNÉES SONT ELLES TRANSMISES ?</b>
                        <p>Vos données sont transmises à des partenaires de Paniers-Paris tels que : les autorités de police dans le cadre de la lutte contre la fraude.
                        </p>
                        <p><span>Paniers-Paris fait également appel à des sous-traitants pour les opérations suivantes :</span></p>

                        <ul>
                            <li> le paiement sécurisé sur le site,</li>

                            <li>l’expédition des  commandes,</li>

                            <li> la réalisation d’opérations de maintenance et de développement du site internet,</li>

                            <li>l’expédition des emails de prospection commerciale.</li>
                                    </ul>

                    </li>

                    <li>
                        <b>QUELS SONT MES DROITS SUR LES DONNÉES ? </b>
                        <p>En application des articles 14 à 22 du du règlement 2016/679 du 27 avril 2016, toute personne utilisant Paniers-Paris a les droits suivants :
                        </p>

                        <ul>
                            <li>Un droit d’accès,</li>

                            <li>Un droit de rectification,</li>

                            <li>Un droit d’opposition et d’effacement au traitement de ses données,</li>

                            <li>Un droit d’opposition au profilage,</li>

                            <li>Un droit à la limitation du traitement,</li>

                            <li>Un droit à la portabilité de ses données</li>
                        </ul>


                        <p><span> Lorsque Paniers-Paris détecte une violation de données à caractère personnel susceptible d’engendrer un risque élevé pour vos droits et libertés, vous serez informé de cette violation dans les meilleurs délais.

                                    <br>


                        <p> droits peuvent être exercés auprès de la société Paniers-Paris qui a collecté les données à caractère personnel par voie postale, en nous écrivant à l’adresse suivante :</p>
                        <p> Service relation client – 63 rue de la Verrerie, 75004 Paris
                        </p>
                        <p>

                            Par voie électronique : <a href="mailto:ppcontact@Paniers-Paris.com">ppcontact@paniers-paris.com</a>

                        </p>


                        <br>

                        <p>
                                        <span>
                                            La demande doit être accompagnée d’un justificatif d’identité.
                                        </span>
                        </p>
                        <p>
                                        <span>
                                            Paniers-Paris adresse une réponse dans un délai d’un mois après l’exercice du droit. 
                                        </span>
                        </p>
                        <span>
                                            <br>
                                        </span>
                        <p>
                                        <span>
                                            En cas de non réponse ou de réponse non satisfaisante, la personne concernée à la faculté de saisir l’autorité de contrôle de son pays de résidence : la CNIL (<a href="https://www.cnil.fr/">"https://www.cnil.fr/"</a>). 
                                        </span>
                        </p>

                    </li>

                    <li>
                        <b>QUEL EST LE SORT DE MES DONNÉES APRES MON DÉCÈS ?</b>

                        <p>
                            L’utilisateur peut formuler des directives relatives à la conservation, à l’effacement et à la communication de ses données à caractère personnel après son décès. 
                        </p>

                    </li>

                    <li>
                        <b>COMBIEN DE TEMPS MES DONNÉES SONT-ELLES CONSERVÉES ?</b>
                        <p>La durée de conservation des données d’un client sera différente selon que ce dernier adhère ou non à un programme de fidélité.
                        </p>
                        <p>
                                        <span>
                                            Pour certains types de traitement, la conservation des données fait l’objet de durées de conservation spécifiques comme pour les consignes concernant la lutte contre la fraude qui sont conservées 3 ans ou les factures liés aux achats qui sont conservées 10 ans.
                                        </span>
                        </p>

                    </li> 

                    <li>
                        <b>QUELLES MESURES DE SÉCURITÉ SONT PRISES POUR PROTÉGER MES DONNÉES ?</b>

                        <p>
                            Paniers-Paris prend toutes les précautions utiles pour préserver la sécurité et la confidentialité des données et notamment empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès.
                        </p>

                        <p>
                            Paniers-Paris assure la sécurité physique des bâtiments abritant les systèmes et la sécurité du système informatique pour empêcher l’accès externe à vos données.
                        </p>
                    </li>

                    <li>
                        <b>QU’EN EST-IL DES DONNÉES COLLECTÉES PAR LES RÉSEAUX SOCIAUX ?</b>

                        <p>
                            Paniers-Paris propose de recourir aux réseaux sociaux pour interagir avec Paniers-Paris (comme Facebook Messenger, les boutons « partager » de Facebook, Instagram ou Twitter).
                            <br>
                            Cela peut entrainer des échanges de données entre Paniers-Paris et ces réseaux sociaux.
                        </p>
                    </li>

                    <li>
                        <b>DES DONNÉES SUR LES MINEURS DE MOINS DE 16 ANS SONT ELLES COLLECTEES ?</b>

                        <p>
                            Conformément aux conditions générales de vente, il est nécessaire d’avoir 16 ans pour créer un compte sur le site Paniers-Paris et effectuer des achats.
                        </p>

                    </li>

                    <li>
                        <b>VAIS-JE RECEVOIR DES SOLLICITATIONS COMMERCIALES ?</b>
                        <p>
                                        <span>
                                            Paniers-Paris utilise vos coordonnées pour vous adresser des publicités ciblées par email.
                                            <br>
                                            Paniers-Paris recueille le consentement préalable  de l’utilisateur pour l’envoi de prospection commerciale par e-mail ou SMS.
                                        </span>
                        </p>

                        <p>
                                        <span>
                                            Ainsi, lors de la création de votre compte sur le site, il vous est expressément demandé votre consentement pour recevoir des offres du Paniers-Paris par email.
                                            <br>
                                            Paniers-Paris ne vous adressera pas de sollicitations personnalisées par email ou sms si vous n’y avez pas consenti.
                                            <br>
                                            Dans tous les cas, vous avez la possibilité de vous opposer à la réception de ces sollicitions en effectuant les actions suivantes :
                                        </span>
                        </p>

                        <p>
                        <ul>
                            <li>Lors de la création du compte, cocher « non » pour les cases liées à la prospection ;</li>

                            <li>Pour l’email, en cliquant sur le lien de désabonnement prévu dans chaque email ou en se rendant sur son compte  dans la rubrique newsletter ;</li>

                            <li>En contactant le service client.</li>
                        </ul>
                        </p>
                    </li>

                    <li>
                        <b>EST-CE QUE PANIERS-PARIS UTILISE DES COOKIES ?</b>

                        <p>
                                        <span>
                                            Lors de l’utilisation du Paniers-Paris, des informations relatives à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.), sont susceptibles d’être enregistrées dans des « Cookies » déposés sur votre terminal, sous réserve des choix que vous auriez exprimés concernant les Cookies et que vous pouvez modifier à tout moment.
                                        </span>
                        </p>

                        <p>
                                        <span>
                                            Le Cookie permet de conserver des données utilisateur afin de faciliter la navigation et de permettre certaines fonctionnalités.
                                            <br>
                                            Les Cookies nous permettent :
                                        </span>
                        </p>

                        <ul>
                            <li>d’établir des statistiques et volumes de fréquentation et d’utilisation des diverses éléments composant nos services ;</li>

                            <li>d’adapter la présentation de notre Site selon le terminal utilisé ;</li>

                            <li>d’adapter la présentation de notre Site selon les affinités de chaque utilisateur ;</li>

                            <li>de mémoriser des informations relatives à un formulaire que vous avez rempli sur notre Site (inscription ou accès à votre compte, contenu d’un panier de commande, etc.) ;</li>

                            <li>de vous permettre d’accéder à des espaces réservés et personnels de notre Site, tels que votre compte, grâce à des identifiants ;</li>

                            <li>de mettre en œuvre des mesures de sécurité</li>
                        </ul>

                        <p>
                                        <span>
                                            Paniers-Paris recueille votre consentement préalable au dépôt des cookies publicitaires, de mesure d’audience et de partage vers les réseaux sociaux.
                                        </span>
                        </p>

                        <p>
                                        <span>
                                            Paniers-Paris utilise un outil permettant à l’internaute de paramètrer le dépôt des cookies lors de sa connexion sur le site.
                                        </span>
                        </p>
                    </li>

                    <li>
                        <b>QU’EST-CE QUE LE DÉLÉGUÉ À LA PROTECTION DES DONNÉES ?</b>

                        <p>
                            Le délégué à la protection des données nommé au sein de Paniers-Paris a pour mission de veiller au respect de la réglementation.
                            <br>
                            Il forme les équipes et répond aux utilisateurs souhaitant exercer leurs droits concernant les données personnelles collectées.
                            <br>
                            Vous avez la possibilité de contacter le délégué à la protection des données à l’adresse <a href="mailto:ppcontact@Paniers-Paris.com">ppcontact@paniers-paris.com</a>.
                        </p>
                    </li>

                </ol>

            </div>
        </div>
    </main>
    <!-- FIN MENTIONS LEGALES-->

{% endblock %}
